@media (max-width: 576px) { 

    .landing-section {
        text-align:center;
        box-sizing: border-box;
        margin: 0 10vw 0 10vw;
        padding: 3vw 10vw 3vw 10vw;
        font-family: Madera,sans-serif;
        border-bottom: 0.5px solid #888888;
    }

    .landing-section .title {
        font-size: 150%;
        margin-top: 1em;
        margin-bottom: 0.5em;
    } 

    .landing-section .price {
        font-size: 120%;
        margin-bottom: 1em;
    }

}

@media (min-width: 992px){
    .landing-section .title {
        font-size: 150%;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    .landing-section .price {
        font-size: 120%;
        margin-bottom: 1em;
    }
}