
@media (min-width: 576px) {
    #listing-card{
        width: 7rem;
    }
    #accordion-header > .accordion-button{
        font-size: 16px;
        background-color: #f9f8f6;
    }

}


@media (min-width: 768px) { 
    #listing-card{
        width: 13rem;
    }
    #accordion-header > .accordion-button{
        font-size: 24px;
        background-color: #f9f8f6;
    }
}


@media (min-width: 992px) {
    #listing-card{
        width: 13rem;
    }
    #accordion-header > .accordion-button{
        font-size: 27px;
        background-color: #f9f8f6;
    }
}


