
@media (min-width: 576px) {
    #listing-card{
        width: 7rem;
    }

}


@media (min-width: 768px) { 
    #listing-card{
        width: 13rem;
    }

}


@media (min-width: 992px) {
    #listing-card{
        width: 13rem;
    }
    
 
}

#accordion-header > .accordion-button{
    font-size: 30px;
    background-color: #f9f8f6;
}
